<p id="notice"><%= notice %></p>

<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-sm-12 portfolio-item">



        <div class="portfolio-caption">
          <h4><%= @author.name %></h4>
          <p class="text-muted">Occupation:<%= @author.occupation %></p>
          <p class="text-muted">Qualification:<%= @author.qualification %></p>
          <p class="text-muted">Description:<%= @author.description %></p>
          <p class="text-muted">Twitter URL:<%= @author.twitter_url %></p>
          <p class="text-muted">Facebook URL::<%= @author.fb_url %></p>
          <p class="text-muted">Linkedin URL:<%= @author.linked_in_url %></p>
          <p class="text-muted">Status:<%= @author.status %></p>
          <%=image_tag(@author.image.url, :alt => "", :class => "img-fluid") %>


          <p><%= link_to 'Edit', edit_author_path(@author) %> | <%= link_to 'Back', authors_path %></p>


        </div>

      </div>

    </div>
  </div>
  </div>
</section>

