<!-- Header -->


<section class="bg-answer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Answer Key</h2>
        </div>
    </div>


      <!-- Grid row -->



    <!-- Grid row -->
    <div class="row accordion-gradient-bcg d-flex justify-content-center">

      <!-- Grid column -->
      <div class="col-md-10 col-xl-10 py-5">

        <!--Accordion wrapper-->
        <div class="accordion md-accordion accordion-2" id="accordionEx7" role="tablist" aria-multiselectable="true">


          <% @answers.each_with_index do |answer, index| %>
            <div class="card">
              <div class="card-header" style="background-color: #818182" role="tab" id="heading1">
                <a data-toggle="collapse" data-parent="#accordionEx7" href="#collapse<%= index.to_s %>" aria-expanded="false" aria-controls="collapse1">
                  <h5 class="mb-0 white-text text-uppercase font-thin">
                   <%=answer.title%><i class="fa fa-angle-down rotate-icon" style="float: right"></i>
                  </h5>
                </a>
              </div>

              <div id="collapse<%= index.to_s %>" class="collapse" role="tabpanel" aria-labelledby="heading1" data-parent="#accordionEx7">
                <div class="card-body mb-1 rgba-grey-light white-text" style="height: 300px;">

                      <object width="100%" height="100%" type="application/pdf" data="<%=answer.pdf.url%>" id="pdf_content">
                        <p>Your web browser doesn't have a PDF plugin.
                          Instead you can <a href="<%=answer.pdf.url%>">click here to
                          download the PDF file.</a></p>
                    </object>
                </div>
              </div>


            </div>
          <% end %>

        </div>
        <!--/.Accordion wrapper-->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->









  </div>
</section>

<script>

        $("#mainNav").addClass("navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink");


</script>