
<div class="col-md-4 col-sm-6 portfolio-item">




  <div class="portfolio-caption">
  <p style="margin-top: 10px">
      <%=image_tag(book.image.url, :alt => "", :class => "img-fluid") %>
  </p>

    <h4><%=book.name%></h4>
    <%book.authors.each do |author| %>
      <p class="text-muted">Author Name:<%=author.name%></p>
      <%end%>

      <p class="text-muted">Description:<%=book.description%></p>
    <p class="text-muted">Price:<%=book.price%></p>
    <p class="text-muted">ISBN:<%=book.isbn%></p>

    <p><%= link_to 'Show',book %></p>
    <p><%= link_to 'Edit', edit_book_path(book) %></p>
    <p><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></p>

  </div>

</div>
