


<p id="notice"><%= notice %></p>

<h1>Trades</h1>
<div class="link">
<%= link_to 'New Trade', new_trade_path %>
</div>
<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <% @trades.each do |trade| %>
        <div class="col-md-4 col-sm-6 portfolio-item">



          <div class="portfolio-caption">
            <h4><%= trade.name %></h4>
            <p class="text-muted">Place:<%= trade.place %></p>
            <p class="text-muted">Status:<%= trade.status %></p>

            <p><%= link_to 'Show', trade %></p>
            <p><%= link_to 'Edit', edit_trade_path(trade) %></p>
            <p><%= link_to 'Destroy', trade, method: :delete, data: { confirm: 'Are you sure?' } %></p>

          </div>

        </div>
      <% end %>

    </div>

  </div>
  </div>
  <%= will_paginate @trades%>
</section>