
<!DOCTYPE html>
<html>
  <head>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0">
      <meta name="keywords" content="MG University,Mcom,Bcom,GST Books">
      <meta name="description" content="Sobabooks.com">

      <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/admin_header' %>
  <div class="container">

    <%= yield %>

    <%= render 'layouts/admin_footer' %>

  </div>
  </body>

</html>

