
<!DOCTYPE html>
<html>
  <head>
    <title>Sobabooks:Online GST book store</title>
    <meta charset="utf-8">
    <meta name="Title" content="Sobabooks: India's number one gst book store">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0">
    <meta name="keywords" content="Soba Books, anwser_key, answers, Book Store, Online Book Store, Online Book Store India, soba publications, MG University, M-com, B-com,GST book online, GST Books.">
    <meta name="description" content="Buy Online Income Tax books, GST books, Company Law, International Taxation, CA & CS books, B.Com Books from SOBABOOKS bookstore.">
    <%= favicon_link_tag asset_path('fav-icon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="wrapper_header">
    <div class="row">
      <%= render "/layouts/header" %>
    </div>
  </div>
    <%= yield %>
  <%= render "/layouts/footer" %>
  </body>

</html>

